@charset "UTF-8";
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format("eot"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"); }

.icon-add:before, .icon-all_data:before, .icon-archive:before, .icon-ast:before, .icon-at:before, .icon-auto_number:before, .icon-benefit:before, .icon-calender:before, .icon-cmn:before, .icon-csv:before, .icon-currency:before, .icon-date:before, .icon-date_and_time:before, .icon-decimal:before, .icon-delete:before, .icon-disabled:before, .icon-dm:before, .icon-done:before, .icon-dropdown:before, .icon-edit:before, .icon-em:before, .icon-email:before, .icon-error:before, .icon-ess:before, .icon-file:before, .icon-filter:before, .icon-heading:before, .icon-html:before, .icon-info:before, .icon-jpg:before, .icon-link:before, .icon-lms:before, .icon-more:before, .icon-more_options:before, .icon-more_utilities:before, .icon-mp3:before, .icon-mp4:before, .icon-multiple_choice:before, .icon-my_data:before, .icon-my_subordinate_data:before, .icon-next:before, .icon-number:before, .icon-other_file:before, .icon-paragraph:before, .icon-pdf:before, .icon-phone:before, .icon-pm:before, .icon-pms:before, .icon-png:before, .icon-ppt:before, .icon-previous:before, .icon-refresh:before, .icon-remove:before, .icon-reset_successful:before, .icon-rm:before, .icon-search:before, .icon-single_choice:before, .icon-sort_down:before, .icon-sort_up:before, .icon-string:before, .icon-subform:before, .icon-subordinate_data:before, .icon-suy:before, .icon-time:before, .icon-tm:before, .icon-trash:before, .icon-txt:before, .icon-upload:before, .icon-url:before, .icon-xls:before, .icon-zip:before {
  font-family: "icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none; }

.icon-add:before {
  content: ""; }

.icon-all_data:before {
  content: ""; }

.icon-archive:before {
  content: ""; }

.icon-ast:before {
  content: ""; }

.icon-at:before {
  content: ""; }

.icon-auto_number:before {
  content: ""; }

.icon-benefit:before {
  content: ""; }

.icon-calender:before {
  content: ""; }

.icon-cmn:before {
  content: ""; }

.icon-csv:before {
  content: ""; }

.icon-currency:before {
  content: ""; }

.icon-date:before {
  content: ""; }

.icon-date_and_time:before {
  content: ""; }

.icon-decimal:before {
  content: ""; }

.icon-delete:before {
  content: ""; }

.icon-disabled:before {
  content: ""; }

.icon-dm:before {
  content: ""; }

.icon-done:before {
  content: ""; }

.icon-dropdown:before {
  content: ""; }

.icon-edit:before {
  content: ""; }

.icon-em:before {
  content: ""; }

.icon-email:before {
  content: ""; }

.icon-error:before {
  content: ""; }

.icon-ess:before {
  content: ""; }

.icon-file:before {
  content: ""; }

.icon-filter:before {
  content: ""; }

.icon-heading:before {
  content: ""; }

.icon-html:before {
  content: ""; }

.icon-info:before {
  content: ""; }

.icon-jpg:before {
  content: ""; }

.icon-link:before {
  content: ""; }

.icon-lms:before {
  content: ""; }

.icon-more:before {
  content: ""; }

.icon-more_options:before {
  content: ""; }

.icon-more_utilities:before {
  content: ""; }

.icon-mp3:before {
  content: ""; }

.icon-mp4:before {
  content: ""; }

.icon-multiple_choice:before {
  content: ""; }

.icon-my_data:before {
  content: ""; }

.icon-my_subordinate_data:before {
  content: ""; }

.icon-next:before {
  content: ""; }

.icon-number:before {
  content: ""; }

.icon-other_file:before {
  content: ""; }

.icon-paragraph:before {
  content: ""; }

.icon-pdf:before {
  content: ""; }

.icon-phone:before {
  content: ""; }

.icon-pm:before {
  content: ""; }

.icon-pms:before {
  content: ""; }

.icon-png:before {
  content: ""; }

.icon-ppt:before {
  content: ""; }

.icon-previous:before {
  content: ""; }

.icon-refresh:before {
  content: ""; }

.icon-remove:before {
  content: ""; }

.icon-reset_successful:before {
  content: ""; }

.icon-rm:before {
  content: ""; }

.icon-search:before {
  content: ""; }

.icon-single_choice:before {
  content: ""; }

.icon-sort_down:before {
  content: ""; }

.icon-sort_up:before {
  content: ""; }

.icon-string:before {
  content: ""; }

.icon-subform:before {
  content: ""; }

.icon-subordinate_data:before {
  content: ""; }

.icon-suy:before {
  content: ""; }

.icon-time:before {
  content: ""; }

.icon-tm:before {
  content: ""; }

.icon-trash:before {
  content: ""; }

.icon-txt:before {
  content: ""; }

.icon-upload:before {
  content: ""; }

.icon-url:before {
  content: ""; }

.icon-xls:before {
  content: ""; }

.icon-zip:before {
  content: ""; }
